flows.json
[
    {
        "id": "7b83fea6115b1c9d",
        "type": "tab",
        "label": "MQTT in",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d57dfb7db94e626c",
        "type": "tab",
        "label": "data out",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f32545335c110520",
        "type": "tab",
        "label": "CLIENT API",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3d44dec822342afa",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "5",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5587c031a142fe8d",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "sensor-data",
        "name": ""
    },
    {
        "id": "76358c21918a49d0",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "105db3eabb8d7b59",
        "type": "mongodb",
        "hostname": "127.0.0.1",
        "topology": "direct",
        "connectOptions": "",
        "port": "27017",
        "db": "sensor-data",
        "name": ""
    },
    {
        "id": "83f412d0c50e4f42",
        "type": "mqtt-broker",
        "name": "private broker",
        "broker": "38830965daeb464193431e0bc6fb19a0.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8a430521602e473b",
        "type": "websocket-listener",
        "path": "/ws/data",
        "wholemsg": "false"
    },
    {
        "id": "281b664f06b3a6ae",
        "type": "mqtt-broker",
        "name": "a",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "24e129cd62912704",
        "type": "websocket-client",
        "path": "ws://localhost:1880/ws/data",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "0545bec558c421e9",
        "type": "mongodb",
        "hostname": "cluster0.tkske.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "sensor-data",
        "name": "MongoDB ATLAS"
    },
    {
        "id": "7916b92b64825d31",
        "type": "global-config",
        "name": "global-config",
        "env": [
            {
                "name": "MONGO_UNAME",
                "value": "segrr2003",
                "type": "str"
            },
            {
                "name": "MONGO_PASS",
                "value": "zXr2DcOZj9m61Cnm",
                "type": "str"
            },
            {
                "name": "CLOUDINARY_API_KEY",
                "value": "947655143582297",
                "type": "str"
            },
            {
                "name": "CLOUDINARY_SECRET",
                "value": "3XfxtefvoGz8llwPOJ4vJOtrGr0",
                "type": "str"
            },
            {
                "name": "CLOUDINARY_CLOUD_NAME",
                "value": "djnhzqluc",
                "type": "str"
            }
        ]
    },
    {
        "id": "65180d6e6ac23d47",
        "type": "mongodb3",
        "uri": "mongodb+srv://segrr2003:zXr2DcOZj9m61Cnm@cluster0.tkske.mongodb.net/sensor-data?retryWrites=true&w=majority&appName=Cluster0",
        "name": "MONGO ATLAS",
        "options": "",
        "parallelism": "0"
    },
    {
        "id": "90e68b95f6bc7796",
        "type": "function",
        "z": "7b83fea6115b1c9d",
        "name": "frameFormatter",
        "func": "// Split the frame by commas to extract individual fields\nconst fields = msg.payload.split(',');\n\n// Ensure the frame has the expected number of fields\nif (fields.length !== 10) {\n    throw new Error('Invalid frame format');\n}\n\n// Extract the individual components\n\nconst date = fields[1];                   // Date (DD/MM/YYYY)\nconst time = fields[2];                   // Time (HH:MM:SS)\nconst productId = fields[3];              // Product ID\nconst deviceLabel = fields[4];            // Device Label\nconst gsmRange = parseInt(fields[5], 10); // GSM Range (Integer)\nconst slaveId = parseInt(fields[6], 10);  // Slave ID (Integer)\nconst currentFlow = parseInt(fields[7], 10); // Flow Rate (Integer)\nconst totalFlow = parseFloat(fields[8]); // Net Total Flow (Float)\n\n\n// Combine date and time into a single ISO 8601 format timestamp\nconst timestamp = new Date(`${date.split('/').reverse().join('-')}T${time}.000Z`);\n\n// Create the JSON object with the extracted data\nconst decodedData = {\n    \n    timestamp: timestamp, // Date object in ISO 8601 format\n    productId: productId,\n    deviceLabel: deviceLabel,\n    gsmRange: gsmRange,\n    slaveId: slaveId,\n    currentFlow: currentFlow,\n    totalFlow: totalFlow,\n};\n\nmsg.payload =  decodedData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 120,
        "wires": [
            [
                "c1937969954d88b7"
            ]
        ]
    },
    {
        "id": "5d2c997c2320bb91",
        "type": "mqtt in",
        "z": "7b83fea6115b1c9d",
        "name": "private broker",
        "topic": "water-sen-data",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "76358c21918a49d0",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 100,
        "wires": [
            [
                "ef15404f77f51408",
                "90e68b95f6bc7796"
            ]
        ]
    },
    {
        "id": "ef15404f77f51408",
        "type": "debug",
        "z": "7b83fea6115b1c9d",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 40,
        "wires": []
    },
    {
        "id": "40d66103d89279db",
        "type": "catch",
        "z": "7b83fea6115b1c9d",
        "name": "",
        "scope": [
            "90e68b95f6bc7796",
            "9afd745a2496487a"
        ],
        "uncaught": false,
        "x": 570,
        "y": 40,
        "wires": [
            [
                "c1df26f0af651acd"
            ]
        ]
    },
    {
        "id": "c1df26f0af651acd",
        "type": "debug",
        "z": "7b83fea6115b1c9d",
        "name": "Error Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "err",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 40,
        "wires": []
    },
    {
        "id": "c1937969954d88b7",
        "type": "debug",
        "z": "7b83fea6115b1c9d",
        "name": "Frame Reciever",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "65d939e1c12f4258",
        "type": "tcp in",
        "z": "7b83fea6115b1c9d",
        "name": "",
        "server": "server",
        "host": "",
        "port": "8005",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "",
        "topic": "water-sen-data",
        "trim": false,
        "base64": false,
        "tls": "",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "7649fcf9c0438613"
            ]
        ]
    },
    {
        "id": "f3f2ef8db096be05",
        "type": "debug",
        "z": "7b83fea6115b1c9d",
        "name": "debug 26",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 340,
        "wires": []
    },
    {
        "id": "23198c687f4e1717",
        "type": "inject",
        "z": "7b83fea6115b1c9d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "#,20/03/2025,03:43:00,ABCD,Demo,60,1,80,150,$",
        "payloadType": "str",
        "x": 130,
        "y": 480,
        "wires": [
            [
                "95f5f4d482173acb"
            ]
        ]
    },
    {
        "id": "95f5f4d482173acb",
        "type": "tcp out",
        "z": "7b83fea6115b1c9d",
        "name": "",
        "host": "localhost",
        "port": "8005",
        "beserver": "client",
        "base64": false,
        "end": false,
        "tls": "",
        "x": 370,
        "y": 480,
        "wires": []
    },
    {
        "id": "7649fcf9c0438613",
        "type": "function",
        "z": "7b83fea6115b1c9d",
        "name": "frameFormatter",
        "func": "// Split the frame by commas to extract individual fields\nconst fields = msg.payload.split(',');\n\n// Ensure the frame has the expected number of fields\nif (fields.length !== 10) {\n    throw new Error('Invalid frame format');\n}\n\n// Extract the individual components\n\nconst date = fields[1];                   // Date (DD/MM/YYYY)\nconst time = fields[2];                   // Time (HH:MM:SS)\nconst productId = fields[3];              // Product ID\nconst deviceLabel = fields[4];            // Device Label\nconst gsmRange = parseInt(fields[5], 10); // GSM Range (Integer)\nconst slaveId = parseInt(fields[6], 10);  // Slave ID (Integer)\nconst currentFlow = parseInt(fields[7], 10); // Flow Rate (Integer)\nconst totalFlow = parseFloat(fields[8]); // Net Total Flow (Float)\n\n\n// Combine date and time into a single ISO 8601 format timestamp\nconst timestamp = new Date(`${date.split('/').reverse().join('-')}T${time}.000Z`);\n\n// Create the JSON object with the extracted data\nconst decodedData = {\n    \n    timestamp: timestamp, // Date object in ISO 8601 format\n    productId: productId,\n    deviceLabel: deviceLabel,\n    gsmRange: gsmRange,\n    slaveId: slaveId,\n    currentFlow: currentFlow,\n    totalFlow: totalFlow,\n};\n\nmsg.payload =  decodedData;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 340,
        "wires": [
            [
                "f3f2ef8db096be05",
                "9d64a3ba765fa382"
            ]
        ]
    },
    {
        "id": "e8993db227ed167b",
        "type": "comment",
        "z": "7b83fea6115b1c9d",
        "name": "Frame Format",
        "info": "SOF(#),Date (DD/MM/YYYY),Time(HH:MM:SS),Product ID,Device Label, GSM Range, Slave ID, Flow Rate , Net Total Flow (Totalizer) ,EOF ($)\n\nsample frame\n#,20/03/2025,03:43:00,ABCD,Demo,60,1,80,150,$",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "9d64a3ba765fa382",
        "type": "mongodb out",
        "z": "7b83fea6115b1c9d",
        "mongodb": "0545bec558c421e9",
        "name": "insert to db",
        "collection": "water-sensor-data",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 650,
        "y": 400,
        "wires": []
    },
    {
        "id": "df500f22fabd59d1",
        "type": "http in",
        "z": "d57dfb7db94e626c",
        "name": "",
        "url": "/api/data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 80,
        "y": 260,
        "wires": [
            [
                "a99ee30c8ff7eb84"
            ]
        ]
    },
    {
        "id": "6cea87c49261787d",
        "type": "catch",
        "z": "d57dfb7db94e626c",
        "name": "Error on Request",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 760,
        "wires": [
            [
                "60cac6c5b17cfb89",
                "error_handler"
            ]
        ]
    },
    {
        "id": "805fb60920724c11",
        "type": "http in",
        "z": "d57dfb7db94e626c",
        "name": "",
        "url": "/api/data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 90,
        "y": 420,
        "wires": [
            [
                "94863b23abb46e8a",
                "b12fb19a0cac8189"
            ]
        ]
    },
    {
        "id": "ecb9c580a26f721b",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "Days Count",
        "func": "const {productId} = msg.req.query;\n\n\nlet query = msg.payload = [\n    {\n        // Match documents for the given productId\n        $match: {\n            productId: productId\n        }\n    },\n    {\n        // Project a new field that extracts the date (year, month, day) from the timestamp\n        $project: {\n            date: {\n                $dateToString: {\n                    format: \"%Y-%m-%d\",\n                    date: \"$timestamp\"\n                }\n            }\n        }\n    },\n    {\n        // Group by the date field and count the number of frames (documents) per day\n        $group: {\n            _id: \"$date\",\n            totalFrames: { $sum: 1 }\n        }\n    },\n    {\n        // Project the result to rename _id to date\n        $project: {\n            _id: 0, // Suppress the _id field\n            date: \"$_id\", // Rename _id to date\n            totalFrames: 1 // Keep the totalFrames field\n        }\n    },\n    {\n        // Optionally sort the result by date in ascending order\n        $sort: { date: 1 }\n    }\n];\n\nmsg.payload = query\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 420,
        "wires": [
            [
                "61bb8e0c2001cf45"
            ]
        ]
    },
    {
        "id": "61bb8e0c2001cf45",
        "type": "mongodb in",
        "z": "d57dfb7db94e626c",
        "mongodb": "0545bec558c421e9",
        "name": "count distinct days",
        "collection": "water-sensor-data",
        "operation": "aggregate",
        "x": 710,
        "y": 420,
        "wires": [
            [
                "d1cd2908a2c6813d",
                "1198de9ad10da57b"
            ]
        ]
    },
    {
        "id": "60cac6c5b17cfb89",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 760,
        "wires": []
    },
    {
        "id": "d1cd2908a2c6813d",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 11",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 480,
        "wires": []
    },
    {
        "id": "1198de9ad10da57b",
        "type": "http response",
        "z": "d57dfb7db94e626c",
        "name": "Distinctdays",
        "statusCode": "",
        "headers": {},
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "94863b23abb46e8a",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 480,
        "wires": []
    },
    {
        "id": "ba693de4e6648022",
        "type": "http in",
        "z": "d57dfb7db94e626c",
        "name": "",
        "url": "/api/devices",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 172.1999969482422,
        "y": 556.3999633789062,
        "wires": [
            [
                "7154dbecc23dba79",
                "8f3be1474aed83cb"
            ]
        ]
    },
    {
        "id": "7154dbecc23dba79",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "Devices list",
        "func": "msg.payload = [\n    {\n        // Sort all documents by timestamp in descending order (most recent first)\n        $sort: { timestamp: -1 }\n    },\n    {\n        // Group by productId and get the first document in each group (which will be the most recent due to the sort)\n        $group: {\n            _id: \"$productId\",\n            latestDocument: { $first: \"$$ROOT\" },\n            maxtotalFlow:{$max:'$totalFlow'}  // $$ROOT gives the entire document\n        }\n    }\n];\n\n// Return the message object for MongoDB node\nreturn msg;\n\n\n\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 362.1999969482422,
        "y": 556.3999633789062,
        "wires": [
            [
                "c05c8dcc18e24ae8",
                "dd04bc35ae41db5e"
            ]
        ]
    },
    {
        "id": "c05c8dcc18e24ae8",
        "type": "mongodb in",
        "z": "d57dfb7db94e626c",
        "mongodb": "0545bec558c421e9",
        "name": "Device List",
        "collection": "water-sensor-data",
        "operation": "aggregate",
        "x": 582.1999969482422,
        "y": 556.3999633789062,
        "wires": [
            [
                "47057e1eed237b9a",
                "a331438df118176e"
            ]
        ]
    },
    {
        "id": "47057e1eed237b9a",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 640,
        "wires": []
    },
    {
        "id": "a331438df118176e",
        "type": "http response",
        "z": "d57dfb7db94e626c",
        "name": "Distinctdays",
        "statusCode": "",
        "headers": {},
        "x": 842.1999969482422,
        "y": 556.3999633789062,
        "wires": []
    },
    {
        "id": "dd04bc35ae41db5e",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 640,
        "wires": []
    },
    {
        "id": "15b0bbeff54e443c",
        "type": "mongodb in",
        "z": "d57dfb7db94e626c",
        "mongodb": "0545bec558c421e9",
        "name": "past_data",
        "collection": "water-sensor-data",
        "operation": "aggregate",
        "x": 780,
        "y": 260,
        "wires": [
            [
                "2aa4a6458d6cc68a",
                "19b39ce33d2384d4"
            ]
        ]
    },
    {
        "id": "0fa28cff601054af",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "Decode request",
        "func": "// Assuming date is provided in \"YYYY-MM-DD\" format\nlet {productId, slaveId , date , limit,page} = msg.req.body;\n\n\n// Parse the start and end times for the given date\nlet startDate = new Date(date + \"T00:00:00.000Z\");  // Start of the day\nlet endDate = new Date(date + \"T23:59:59.999Z\");    // End of the day\n\n\n// MongoDB query\nconst skip = (page - 1) * limit;\n\n// MongoDB query to match productId and date, and apply pagination\nmsg.payload = [\n    {\n        // Match documents based on the productId and date\n        $match: {\n            productId: productId,\n            slaveId,\n            timestamp: {\n                $gte: new Date(date + \"T00:00:00.000Z\"), // Start of the day\n                $lte: new Date(date + \"T23:59:59.999Z\")  // End of the day\n            }\n        }\n    },\n    {\n        // Sort by timestamp in ascending order (you can change to -1 for descending)\n        $sort: { timestamp: -1 }\n    },\n    {\n        // Skip the first 'n' documents based on the page\n        $skip: skip\n    },\n    {\n        // Limit the number of documents returned to 'limit'\n        $limit: limit\n    },\n    {\n        // Optionally project only necessary fields\n        $project: {\n            _id: 0, // Hide _id if not needed\n            productId: 1,\n            timestamp: 1,\n            currentFlow: 1, // Example field\n            totalFlow: 1, // Example field\n            deviceLabel:1,\n            slaveId:1,\n            gsmRange:1\n        }\n    }\n];\n\n\n// Return the message object to pass the query to MongoDB node\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "a9f5aa9cb389c416",
                "15b0bbeff54e443c"
            ]
        ]
    },
    {
        "id": "a9f5aa9cb389c416",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 340,
        "wires": []
    },
    {
        "id": "2aa4a6458d6cc68a",
        "type": "http response",
        "z": "d57dfb7db94e626c",
        "name": "http response",
        "statusCode": "",
        "headers": {},
        "x": 1040,
        "y": 260,
        "wires": []
    },
    {
        "id": "19b39ce33d2384d4",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 16",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 340,
        "wires": []
    },
    {
        "id": "error_handler",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "Error Handler",
        "func": "msg.payload = {\n    error: true,\n    message: msg.error.message  // Error message\n};\n // Optional: Set HTTP status code\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 820,
        "wires": [
            [
                "http_error_response"
            ]
        ]
    },
    {
        "id": "http_error_response",
        "type": "http response",
        "z": "d57dfb7db94e626c",
        "name": "Error Response",
        "statusCode": "500",
        "headers": {},
        "x": 840,
        "y": 820,
        "wires": []
    },
    {
        "id": "a99ee30c8ff7eb84",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "productId Validation",
        "func": "// Extract body from the HTTP request\nlet { productId, date, limit, page } = msg.req.body;\n\n// Example of required fields\nif (!productId || typeof productId !== 'string') {\n   throw new Error('ProductId is required')\n}\n\nconst regex = /^(?:(?:19|20)\\d{2})-(?:(?:0[1-9]|1[0-2]))-(?:(?:0[1-9]|1\\d|2[0-8])|(?:29|30)(?!(?:-02))|31(?=(?:-01|-03|-05|-07|-08|-10|-12)))$/;\n\nif (!date) {\n   throw new Error(\"date is required body parameter\");\n}\nelse if (!regex.test(date)) {\n   throw new Error(\"Wrong date format. YYYY-MM-DD is required\");\n}\n\nif (!page || typeof page !== 'number' || page < 0) {\n   throw new Error(\"Problem with page atrribute\");\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "0fa28cff601054af"
            ]
        ]
    },
    {
        "id": "b12fb19a0cac8189",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "Validation",
        "func": "// Extract body from the HTTP request\nlet { productId} = msg.req.query;\n\n// Example of required fields\nif (!productId || typeof productId !== 'string') {\n   throw new Error('ProductId is required')\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 420,
        "wires": [
            [
                "ecb9c580a26f721b"
            ]
        ]
    },
    {
        "id": "8f3be1474aed83cb",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 620,
        "wires": []
    },
    {
        "id": "104b79cb5781b37a",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "Actual Value",
        "func": "let productId = msg.productId;\nlet datetime = msg.datetime;\n// given the time of water intake during that day\n// i want to find how much water measured which is  actual_value\n// compare it to form value be written_value\n// calculate deviation\n// the water intake will start after given time, \n//so start measuring from that time till the currentFlow becomes 0\n// or totalFlow becomes greater than given tanker_size value in form \nmsg.payload = [\n    // Step 1: Match records for the given productId and timestamp >= given datetime\n    {\n        $match: {\n            productId: productId,  // Use productId directly\n            timestamp: { $gte: new Date(datetime) }  // Ensure datetime is properly converted\n        }\n     },\n    // // Step 2: Sort in ascending order (chronological order)\n     {\n        $sort: { timestamp: 1 }\n     },\n    // // Step 3: Use $setWindowFields to create cumulative sum, stopping when currentFlow = 0\n   {\n        $setWindowFields: {\n            partitionBy: \"$productId\",\n            sortBy: { timestamp: 1 },\n            output: {\n                cumulativeTotalFlow: {\n                    $sum: \"$currentFlow\",\n                    window: { documents: [\"unbounded\", \"current\"] } // Cumulative sum\n                },\n                 isZeroFlow: {\n                    $min: {\n                        $cond: { if: { $eq: [\"$currentFlow\", 0] }, then: 1, else: 0 }\n                    },\n                    window: { documents: [\"unbounded\", \"current\"] }\n                }\n            }\n        }\n    },\n    // // Step 4: Filter to keep only records before first occurrence of currentFlow = 0\n    {\n        $match: { isZeroFlow: 0 }\n    },\n    // // Step 5: Get the last cumulative total flow before currentFlow = 0\n    {\n        $group: {\n            _id: null,\n            measuredValue: { $last: \"$cumulativeTotalFlow\" } // The final measured value before flow stops\n        }\n    },\n    // // Step 6: Format final output\n    // {\n    //     $project: {\n    //         _id: 0,\n    //         measuredValue: 1\n    //     }\n    // }\n];\nmsg.operation = \"aggregation\";\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "39d3c53ff820c417",
                "b25b8c13a27a4725"
            ]
        ]
    },
    {
        "id": "39d3c53ff820c417",
        "type": "mongodb in",
        "z": "d57dfb7db94e626c",
        "mongodb": "0545bec558c421e9",
        "name": "Getting tanker count",
        "collection": "water-sensor-data",
        "operation": "aggregate",
        "x": 600,
        "y": 200,
        "wires": [
            [
                "21c02983c0991d5b"
            ]
        ]
    },
    {
        "id": "21c02983c0991d5b",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "da791a0e48f6495a",
        "type": "inject",
        "z": "d57dfb7db94e626c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "datetime",
                "v": "2024-10-12T18:46:57.000+00:00",
                "vt": "str"
            },
            {
                "p": "productId",
                "v": "BTP0524002",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "104b79cb5781b37a"
            ]
        ]
    },
    {
        "id": "614fa2a1f8b816c1",
        "type": "comment",
        "z": "d57dfb7db94e626c",
        "name": "API ROUTES",
        "info": "1. POST  http://192.168.13.171:1880/api/data\nBODY\n{\n  \"productId\":\"BTP0524003\",\n  \"date\":\"2024-10-14\",\n  \"limit\":10,\n  \"page\":1\n}\n2. GET  http://192.168.13.171:1880/api/data?productId=\"BTP0524002\"   \n get days of day available to show\n3. GET http://192.168.13.171:1880/api/devices\nget device list with latest data frame\n\n4. POST /api/devices \nRegister new device into system\nBody\n {productId,\n    slaveId,\n    installDate,\n    type,\n    measurementUnit,\n    pipeSize,\n    powerType,\n }\n\n5. GET /api/period?productId=\"\"",
        "x": 1390,
        "y": 120,
        "wires": []
    },
    {
        "id": "b25b8c13a27a4725",
        "type": "debug",
        "z": "d57dfb7db94e626c",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "40e85007aff15964",
        "type": "http in",
        "z": "d57dfb7db94e626c",
        "name": "",
        "url": "/api/periods",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 940,
        "wires": [
            [
                "e307416ce8942297"
            ]
        ]
    },
    {
        "id": "e307416ce8942297",
        "type": "function",
        "z": "d57dfb7db94e626c",
        "name": "QUERY PERIODS DATA",
        "func": "let {productId} = msg.req.query;\nmsg.payload = [\n    // Step 1: Filter data for the given productId\n    { \n        $match: { productId }  \n    },\n\n    // Step 2: Sort Data by Timestamp\n    { \n        $sort: { timestamp: 1 } \n    },\n\n    // Step 3: Use $accumulator to Assign Period IDs Dynamically\n    {\n        $group: {\n            _id: null,\n            readings: {\n                $push: {\n                    timestamp: \"$timestamp\",\n                    currentFlow: \"$currentFlow\",\n                    totalFlow: \"$totalFlow\" // Capture totalFlow for later reference\n                }\n            }\n        }\n    },\n    {\n        $project: {\n            readings: {\n                $reduce: {\n                    input: \"$readings\",\n                    initialValue: {\n                        periods: [],\n                        currentPeriod: [],\n                        lastFlow: 0\n                    },\n                    in: {\n                        periods: {\n                            $concatArrays: [\n                                \"$$value.periods\",\n                                {\n                                    $cond: {\n                                        if: {\n                                            $and: [\n                                                { $eq: [\"$$this.currentFlow\", 0] },\n                                                { $gt: [{ $size: \"$$value.currentPeriod\" }, 0] }\n                                            ]\n                                        },\n                                        then: [\"$$value.currentPeriod\"],\n                                        else: []\n                                    }\n                                }\n                            ]\n                        },\n                        currentPeriod: {\n                            $cond: {\n                                if: { $eq: [\"$$this.currentFlow\", 0] },\n                                then: [],\n                                else: { $concatArrays: [\"$$value.currentPeriod\", [\"$$this\"]] }\n                            }\n                        },\n                        lastFlow: \"$$this.currentFlow\"\n                    }\n                }\n            }\n        }\n    },\n\n    // Step 4: Unwind the extracted periods\n    { \n        $unwind: \"$readings.periods\"\n    },\n\n    // Step 5: Calculate statistics for each period\n    {\n        $project: {\n            startTime: { $arrayElemAt: [\"$readings.periods.timestamp\", 0] },\n            endTime: { $arrayElemAt: [\"$readings.periods.timestamp\", -1] },\n            totalWaterMeasured: { \n                $sum: \"$readings.periods.currentFlow\" \n            },\n            totalFlowAtStart: { $subtract: [{ $arrayElemAt: [\"$readings.periods.totalFlow\", 0] }, { $arrayElemAt: [\"$readings.periods.currentFlow\", 0] }] }, // Capture totalFlow at start\n            totalFlowAtEnd: { $arrayElemAt: [\"$readings.periods.totalFlow\", -1] }, // Capture totalFlow at end\n            avgFlowRate: { \n                $avg: \"$readings.periods.currentFlow\" \n            },\n            maxFlowRate: { \n                $max: \"$readings.periods.currentFlow\" \n            },\n            minFlowRate: { \n                $min: \"$readings.periods.currentFlow\" \n            },\n            readingCount: { \n                $size: \"$readings.periods\" \n            }\n        }\n    },\n\n    // Step 6: Calculate Duration\n    {\n        $project: {\n            startTime: 1,\n            endTime: 1,\n            durationMinutes: { \n                $divide: [\n                    { $subtract: [\"$endTime\", \"$startTime\"] }, \n                    1000 * 60 // Convert milliseconds to minutes\n                ] \n            },\n            totalWaterMeasured: 1,\n            totalFlowAtStart: 1,\n            totalFlowAtEnd: 1,\n            avgFlowRate: 1,\n            maxFlowRate: 1,\n            minFlowRate: 1,\n            readingCount: 1\n        }\n    },\n\n    // Step 7: Sort Periods by Start Time\n    {\n        $sort: { startTime: -1 }\n    }\n  ]\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 940,
        "wires": [
            [
                "082ccd6093f80ce3"
            ]
        ]
    },
    {
        "id": "082ccd6093f80ce3",
        "type": "mongodb in",
        "z": "d57dfb7db94e626c",
        "mongodb": "0545bec558c421e9",
        "name": "PERIODS DATA",
        "collection": "water-sensor-data",
        "operation": "aggregate",
        "x": 680,
        "y": 940,
        "wires": [
            [
                "40d663a7e26938f8"
            ]
        ]
    },
    {
        "id": "40d663a7e26938f8",
        "type": "http response",
        "z": "d57dfb7db94e626c",
        "name": "PERIODS DATA RESPONSE",
        "statusCode": "",
        "headers": {},
        "x": 980,
        "y": 940,
        "wires": []
    },
    {
        "id": "a8898b771c634857",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/devices/list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "59c1f7764f9a2f10"
            ]
        ]
    },
    {
        "id": "c772e821917f5bbc",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "59c1f7764f9a2f10",
        "type": "mongodb in",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "LIST DEVICES",
        "collection": "sensor-metadata",
        "operation": "find",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "c772e821917f5bbc"
            ]
        ]
    },
    {
        "id": "0ee0cdcb8bbcd45e",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/devices/:productId",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 280,
        "wires": [
            [
                "c1445d8f876d7954"
            ]
        ]
    },
    {
        "id": "b98058c80c350fba",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 340,
        "wires": []
    },
    {
        "id": "5ed7b27fe8c2e29b",
        "type": "mongodb out",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "UPDATE DEVICE DETAILS",
        "collection": "sensor-metadata",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "update",
        "x": 780,
        "y": 280,
        "wires": []
    },
    {
        "id": "c1445d8f876d7954",
        "type": "function",
        "z": "f32545335c110520",
        "name": "UPDATE DEVICE QUERY",
        "func": "\nmsg.query = {\n    productId:msg.req.params.productId\n}\nif(msg.req.body.installDate != undefined)\nmsg.req.body.installDate  = new Date(msg.req.body.installDate)\n\nlet fields = msg.req.body;\ndelete fields.productId;\n\nmsg.payload =  { $set: fields }\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 280,
        "wires": [
            [
                "5ed7b27fe8c2e29b",
                "b98058c80c350fba"
            ]
        ]
    },
    {
        "id": "e2411ab9d068d0df",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/devices/new",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "a7d614db879c92f8",
                "a38185ef4ac34587"
            ]
        ]
    },
    {
        "id": "a7d614db879c92f8",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 420,
        "y": 120,
        "wires": []
    },
    {
        "id": "b160e28bd9f96818",
        "type": "mongodb out",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "ADD NEW DEVICE",
        "collection": "sensor-metadata",
        "payonly": true,
        "upsert": false,
        "multi": false,
        "operation": "insert",
        "x": 650,
        "y": 40,
        "wires": []
    },
    {
        "id": "74c1c1870615eba8",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/devices/:productId",
        "method": "delete",
        "upload": false,
        "swaggerDoc": "",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "4f03fa25aa273113"
            ]
        ]
    },
    {
        "id": "46bad3d1efe1b49c",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 730,
        "y": 480,
        "wires": []
    },
    {
        "id": "b9d6bed2a28fdc0c",
        "type": "mongodb out",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "DELETE DEVICE DETAILS",
        "collection": "sensor-metadata",
        "payonly": true,
        "upsert": true,
        "multi": false,
        "operation": "delete",
        "x": 800,
        "y": 420,
        "wires": []
    },
    {
        "id": "4f03fa25aa273113",
        "type": "function",
        "z": "f32545335c110520",
        "name": "DELETE DEVICE QUERY",
        "func": "msg.query = {\n    productId:msg.req.params.productId\n}\nmsg.payload = msg.req.body\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 420,
        "wires": [
            [
                "b9d6bed2a28fdc0c",
                "46bad3d1efe1b49c"
            ]
        ]
    },
    {
        "id": "a31b9d0e83189296",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 870,
        "y": 660,
        "wires": []
    },
    {
        "id": "5165c4908f0ebcaf",
        "type": "function",
        "z": "f32545335c110520",
        "name": "TOGGLE ENABLED  DEVICE QUERY",
        "func": "// Get productId from the incoming message\nvar productId = msg.req.body.productId;\nvar enabled = msg.req.body.enabled;\n\nif (!productId) {\n    node.error(\"Missing productId in payload\", msg);\n    return null;\n}\n\n// Define the MongoDB query to find the document\nmsg.query = { \"productId\": productId };\n\n// Define the update operation to toggle the \"enabled\" field\nmsg.payload = { $set:{ enabled: !enabled}}; \n\n\n\n// Return the message to be processed by MongoDB node\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 580,
        "wires": [
            [
                "6fbce7afaed159ae",
                "709d7a553430d488"
            ]
        ]
    },
    {
        "id": "10504ab5c682d7b4",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "CHANGE DEVICE STATUS",
        "url": "/api/devices/status",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 580,
        "wires": [
            [
                "5165c4908f0ebcaf"
            ]
        ]
    },
    {
        "id": "a38185ef4ac34587",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 1",
        "func": "msg.payload = msg.req.body;\nmsg.payload.enabled = true;\nif(msg.payload.installDate != \"\")\nmsg.payload.installDate  = new Date(msg.payload.installDate)\nelse\nmsg.payload.installDate  = new Date()\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 40,
        "wires": [
            [
                "b160e28bd9f96818"
            ]
        ]
    },
    {
        "id": "6fbce7afaed159ae",
        "type": "mongodb out",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "",
        "collection": "sensor-metadata",
        "payonly": false,
        "upsert": false,
        "multi": false,
        "operation": "update",
        "x": 880,
        "y": 580,
        "wires": []
    },
    {
        "id": "709d7a553430d488",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 2",
        "func": "var productId = msg.req.body.productId;\nvar enabled = msg.req.body.enabled;\nmsg.payload = {productId , enabled:!enabled}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 660,
        "wires": [
            [
                "a31b9d0e83189296"
            ]
        ]
    },
    {
        "id": "9f8662c1bd8adce2",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "ADD NEW USER",
        "collection": "users",
        "operation": "insertOne",
        "x": 790,
        "y": 920,
        "wires": [
            [
                "8f5931f1afec450b"
            ]
        ]
    },
    {
        "id": "d9c4e5ffedac1b57",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 80,
        "y": 920,
        "wires": [
            [
                "8647ae25c3bc11f5",
                "f1cea24b7884d9c7"
            ]
        ]
    },
    {
        "id": "acb4a8fb6af03f0f",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1250,
        "y": 920,
        "wires": []
    },
    {
        "id": "3d3c280ab35a134c",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 3",
        "func": "msg.payload = {registerdOn : new Date(), deviceList:[] , ...msg.req.body , ...msg.uploadResult}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 920,
        "wires": [
            [
                "2e0291c93f7b064d"
            ]
        ]
    },
    {
        "id": "3eb22c10d86dff54",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 1020,
        "wires": [
            [
                "63efa7f31b90c9a9"
            ]
        ]
    },
    {
        "id": "7f778f5c5546dde6",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "c5eabfeea34346d2",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users/:phoneNo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 230,
        "y": 1120,
        "wires": [
            [
                "a086784619a156c9"
            ]
        ]
    },
    {
        "id": "d84a03bb3a5b182c",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 1120,
        "wires": []
    },
    {
        "id": "a086784619a156c9",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 5",
        "func": "let phoneNumber = msg.req.params.phoneNo\nmsg.payload = {phoneNumber}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1120,
        "wires": [
            [
                "b7f00c52cec520ab"
            ]
        ]
    },
    {
        "id": "63efa7f31b90c9a9",
        "type": "mongodb in",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "GET USERS LIST",
        "collection": "users",
        "operation": "find",
        "x": 590,
        "y": 1020,
        "wires": [
            [
                "7f778f5c5546dde6"
            ]
        ]
    },
    {
        "id": "b7f00c52cec520ab",
        "type": "mongodb in",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "GET SINGLE USER",
        "collection": "users",
        "operation": "find",
        "x": 640,
        "y": 1120,
        "wires": [
            [
                "d84a03bb3a5b182c"
            ]
        ]
    },
    {
        "id": "9df4d49489d4e702",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users/:phoneNo",
        "method": "patch",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 1240,
        "wires": [
            [
                "8a47f7bdb333631f"
            ]
        ]
    },
    {
        "id": "54724a6bf363b028",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 1240,
        "wires": []
    },
    {
        "id": "8a47f7bdb333631f",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 6",
        "func": "let phoneNumber = msg.req.params.phoneNo\nmsg.payload = [{phoneNumber} , {$set : msg.req.body} , {returnOriginal:false}]\nmsg.options = { returnOriginal: false };  \nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1240,
        "wires": [
            [
                "d302599f908f9708"
            ]
        ]
    },
    {
        "id": "d302599f908f9708",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "UPDATE ONE USER DETILS",
        "collection": "users",
        "operation": "findOneAndUpdate",
        "x": 690,
        "y": 1240,
        "wires": [
            [
                "6a2a5b91d17bfa04"
            ]
        ]
    },
    {
        "id": "6a2a5b91d17bfa04",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 7",
        "func": "msg.payload = msg.payload.value\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1240,
        "wires": [
            [
                "54724a6bf363b028"
            ]
        ]
    },
    {
        "id": "06890ce2bcb718a0",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users/login",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 1380,
        "wires": [
            [
                "d94a2c360f889da9"
            ]
        ]
    },
    {
        "id": "071f1ef31eb29bdf",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 1380,
        "wires": []
    },
    {
        "id": "d94a2c360f889da9",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 8",
        "func": "let phoneNumber = msg.req.body.phoneNumber;\nmsg.payload = {phoneNumber}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 1380,
        "wires": [
            [
                "8c6cd107c66d89b7"
            ]
        ]
    },
    {
        "id": "8c6cd107c66d89b7",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "USER LOGIN",
        "collection": "users",
        "operation": "findOne",
        "x": 580,
        "y": 1380,
        "wires": [
            [
                "3559b12f952694e1"
            ]
        ]
    },
    {
        "id": "3559b12f952694e1",
        "type": "function",
        "z": "f32545335c110520",
        "name": "VERIFY PASSWORD",
        "func": "let pass = msg.req.body.password;\n\nif (msg.payload.password == undefined){\n    msg.statusCode = 401;\n    msg.payload = \"USER DOES NOT EXIST\";\n}\nelse if(pass != msg.payload.password){\n    msg.statusCode = 401;\n    msg.payload = \"WRONG PASSWORD\";\n}else{\n    msg.statusCode = 200;\n    msg.payload = \"LOGIN SUCCESSFUL\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1380,
        "wires": [
            [
                "071f1ef31eb29bdf"
            ]
        ]
    },
    {
        "id": "dfa781ea28916470",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users/:phoneNumber/devices",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 1500,
        "wires": [
            [
                "4cca405bd5558f56"
            ]
        ]
    },
    {
        "id": "4cfa09665a17a9fd",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1070,
        "y": 1500,
        "wires": []
    },
    {
        "id": "4cca405bd5558f56",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 9",
        "func": "let deviceList = msg.req.body.deviceList;\nlet phoneNumber = msg.req.params.phoneNumber;\nmsg.payload = [{phoneNumber}, {\n    $addToSet: {\n        deviceList: {\n            $each: deviceList\n        }\n    }},\n    {returnOrignial:false}\n    ];\nmsg.options = {returnOrignial:false};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1500,
        "wires": [
            [
                "850659c9cb5ece47"
            ]
        ]
    },
    {
        "id": "850659c9cb5ece47",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "ASSIGN DEVICES TO USER",
        "collection": "users",
        "operation": "findOneAndUpdate",
        "x": 670,
        "y": 1500,
        "wires": [
            [
                "6661a9fb3a891efc"
            ]
        ]
    },
    {
        "id": "6661a9fb3a891efc",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 10",
        "func": "msg.payload = msg.payload.value\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1500,
        "wires": [
            [
                "4cfa09665a17a9fd"
            ]
        ]
    },
    {
        "id": "8f5931f1afec450b",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 11",
        "func": "msg.payload = msg.payload[0];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 920,
        "wires": [
            [
                "acb4a8fb6af03f0f"
            ]
        ]
    },
    {
        "id": "9f27a050a4858848",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/vehicleCount",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 100,
        "y": 1760,
        "wires": [
            [
                "ab100bfc6ec8ac01"
            ]
        ]
    },
    {
        "id": "f1b128d35ff36d3b",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1090,
        "y": 1760,
        "wires": []
    },
    {
        "id": "4271b56e2a2a078f",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 12",
        "func": "// Assuming msg.payload contains binary image data from the HTTP request\n// var image = msg.req.files[0];\nlet {startTime,endTime} = msg.req.body;\n// // Convert the binary image data to base64\n// var base64Image = image.buffer.toString('base64');\n\n// Create a new message with the base64 encoded image and filename\nmsg.payload = {\n    ...msg.req.body,\n    vehiclePhoto: msg.uploadResult.url,\n    startTime:new Date(startTime),\n    endTime:new Date(endTime),\n    entryOn : new Date()\n};\n// msg.payload = base64Image;\nreturn msg;\n\n// {deviceId: Device1, slaveId: Slave1, startTime: 2025-02-11T02:45:00.000, endTime: 2025-02-11T02:45:00.000, vehicleNo: MG 12 SS 1201, waterInLiter: 2000, geoLat: 18.4539152, geoLong: 73.8500244, placeName: Lane Number 6, Pune, India, vehiclePhoto: File: '/data/user/0/com.example.user_application/cache/59eabf35-f205-4497-bd23-1a1454ed29b5/1000072433_watermarked.jpg'}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "fs",
                "module": "fs"
            }
        ],
        "x": 610,
        "y": 1760,
        "wires": [
            [
                "5d18c2498d3be462"
            ]
        ]
    },
    {
        "id": "5d18c2498d3be462",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "ADD VEHICLECOUNT FORM",
        "collection": "vehicleCount",
        "operation": "insert",
        "x": 870,
        "y": 1760,
        "wires": [
            [
                "f1b128d35ff36d3b"
            ]
        ]
    },
    {
        "id": "f58f53f9ef4d9ea3",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/vehicleCount/:id",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 110,
        "y": 2040,
        "wires": [
            [
                "0cef445451731f6f"
            ]
        ]
    },
    {
        "id": "102be40222da3fee",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 910,
        "y": 2040,
        "wires": []
    },
    {
        "id": "0cef445451731f6f",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 13",
        "func": "const { ObjectId } = context.global.get('mongodb') // Import ObjectId for MongoDB\n\n// Get ID from request parameters\nvar objectId = msg.req.params.id; \n\n// Validate ObjectId\nif (!ObjectId.isValid(objectId)) {\n    node.error(\"Invalid ObjectId format\", msg);\n    return null;\n}\n\n// Prepare MongoDB query\nmsg.payload = { _id: new ObjectId(objectId) }; // Convert string to ObjectId\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 2040,
        "wires": [
            [
                "04f26db9e99188aa"
            ]
        ]
    },
    {
        "id": "04f26db9e99188aa",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "RETRIVE VEHICLECOUNT",
        "collection": "vehicleCount",
        "operation": "findOne",
        "x": 640,
        "y": 2040,
        "wires": [
            [
                "102be40222da3fee"
            ]
        ]
    },
    {
        "id": "ab100bfc6ec8ac01",
        "type": "function",
        "z": "f32545335c110520",
        "name": "upload image to cloudinary",
        "func": "const cloudinary = global.get('cloudinary');\nvar image = msg.req.files[0];\nasync function uploadFile() {\n\n    // Configuration\n    cloudinary.config({ \n        cloud_name: env.get('CLOUDINARY_CLOUD_NAME'), \n        api_key: env.get('CLOUDINARY_API_KEY'), \n        api_secret: env.get('CLOUDINARY_SECRET') // Click 'View API Keys' above to copy your API secret\n    });\n    \n    // Upload an image\nconst uploadResult = await new Promise((resolve) => {\n    cloudinary.v2.uploader.upload_stream((error, uploadResult) => {\n        return resolve(uploadResult);\n    }).end(image.buffer);});\n    \n    return uploadResult;\n}\nmsg.uploadResult = await uploadFile();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 1760,
        "wires": [
            [
                "4271b56e2a2a078f"
            ]
        ]
    },
    {
        "id": "ca66043271efa1a7",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/vehicleCount",
        "method": "get",
        "upload": true,
        "swaggerDoc": "",
        "x": 100,
        "y": 2160,
        "wires": [
            [
                "b020d39bde140d75"
            ]
        ]
    },
    {
        "id": "60eac29d232fc9b6",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 2160,
        "wires": []
    },
    {
        "id": "b020d39bde140d75",
        "type": "mongodb in",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "GET VEHICLE LIST",
        "collection": "vehicleCount",
        "operation": "find",
        "x": 380,
        "y": 2160,
        "wires": [
            [
                "60eac29d232fc9b6"
            ]
        ]
    },
    {
        "id": "d668142c3ff0af25",
        "type": "inject",
        "z": "f32545335c110520",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 2260,
        "wires": [
            [
                "d537a40aa3511299"
            ]
        ]
    },
    {
        "id": "83e8c116e9286c73",
        "type": "debug",
        "z": "f32545335c110520",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 2260,
        "wires": []
    },
    {
        "id": "d537a40aa3511299",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 16",
        "func": "msg.payload = env.get('MONGO_UNAME');\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 2260,
        "wires": [
            [
                "83e8c116e9286c73"
            ]
        ]
    },
    {
        "id": "d47b509c052cee41",
        "type": "function",
        "z": "f32545335c110520",
        "name": "ACCESS  DEVICE DETAILS",
        "func": "// detials of device\n// device ownership\n\nmsg.payload = {\n    productId: msg.req.params.productId\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 760,
        "wires": [
            [
                "4a9cada7ac3ba555"
            ]
        ]
    },
    {
        "id": "a38246b0b4b030e1",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/devices/:productId",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 760,
        "wires": [
            [
                "d47b509c052cee41"
            ]
        ]
    },
    {
        "id": "4a9cada7ac3ba555",
        "type": "mongodb in",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "GET ONE DEVICE DETAILS",
        "collection": "sensor-metadata",
        "operation": "find",
        "x": 820,
        "y": 760,
        "wires": [
            [
                "665be0af6d6fb2bc"
            ]
        ]
    },
    {
        "id": "665be0af6d6fb2bc",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 17",
        "func": "msg.deviceDetalis = {...msg.payload[0]}\nmsg.payload = {\n    deviceList:{$in: [msg.req.params.productId]}\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 760,
        "wires": [
            [
                "339f7605065741cc"
            ]
        ]
    },
    {
        "id": "339f7605065741cc",
        "type": "mongodb in",
        "z": "f32545335c110520",
        "mongodb": "0545bec558c421e9",
        "name": "GET OWNERSHIP DETAIL",
        "collection": "users",
        "operation": "find",
        "x": 1300,
        "y": 760,
        "wires": [
            [
                "b20cdd74d7636780"
            ]
        ]
    },
    {
        "id": "b20cdd74d7636780",
        "type": "function",
        "z": "f32545335c110520",
        "name": "MERGE RESULTS",
        "func": "let user = msg.payload;\nmsg.payload = {deviceDetalis: msg.deviceDetalis , user}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1550,
        "y": 760,
        "wires": [
            [
                "204bb5a84c7718f6"
            ]
        ]
    },
    {
        "id": "204bb5a84c7718f6",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1750,
        "y": 760,
        "wires": []
    },
    {
        "id": "f1cea24b7884d9c7",
        "type": "function",
        "z": "f32545335c110520",
        "name": "upload image to cloudinary",
        "func": "const cloudinary = global.get('cloudinary');\nvar profilePicture = msg.req.files[0];\nvar documentId = msg.req.files[1]\nasync function uploadFile() {\n\n    // Configuration\n    cloudinary.config({ \n        cloud_name: env.get('CLOUDINARY_CLOUD_NAME'), \n        api_key: env.get('CLOUDINARY_API_KEY'), \n        api_secret: env.get('CLOUDINARY_SECRET') // Click 'View API Keys' above to copy your API secret\n    });\n    \n    // Upload an image\nconst profileUploadResult = await new Promise((resolve) => {\n    cloudinary.v2.uploader.upload_stream((error, uploadResult) => {\n        return resolve(uploadResult);\n    }).end(profilePicture.buffer);});\n\nconst documentIdUploadResult = await new Promise((resolve) => {\n    cloudinary.v2.uploader.upload_stream((error, uploadResult) => {\n        return resolve(uploadResult);\n    }).end(profilePicture.buffer);});\n    \n    return {profilePicture:profileUploadResult.url , documentId:documentIdUploadResult.url};\n}\nmsg.uploadResult = await uploadFile();\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 920,
        "wires": [
            [
                "3d3c280ab35a134c"
            ]
        ]
    },
    {
        "id": "d6ddc500bca53cba",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users/:phoneNo/vehicle",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 1300,
        "wires": [
            [
                "18a0e5c3d84318f4"
            ]
        ]
    },
    {
        "id": "131690a76c6d17ba",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1110,
        "y": 1300,
        "wires": []
    },
    {
        "id": "18a0e5c3d84318f4",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 18",
        "func": "let phoneNumber = msg.req.params.phoneNo\nmsg.payload = {userId:phoneNumber}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 1300,
        "wires": [
            [
                "35d291c39a4777db"
            ]
        ]
    },
    {
        "id": "35d291c39a4777db",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "GET VEHICLE ENTRY BY USER",
        "collection": "vehicleCount",
        "operation": "find.toArray",
        "x": 700,
        "y": 1300,
        "wires": [
            [
                "ea325b7722d68ec9"
            ]
        ]
    },
    {
        "id": "ea325b7722d68ec9",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 19",
        "func": "msg.payload = Object.values(msg.payload);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 1300,
        "wires": [
            [
                "131690a76c6d17ba"
            ]
        ]
    },
    {
        "id": "8647ae25c3bc11f5",
        "type": "debug",
        "z": "f32545335c110520",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "req",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 860,
        "wires": []
    },
    {
        "id": "2e0291c93f7b064d",
        "type": "debug",
        "z": "f32545335c110520",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 980,
        "wires": []
    },
    {
        "id": "665f2521de90915c",
        "type": "http in",
        "z": "f32545335c110520",
        "name": "",
        "url": "/api/users/:phoneNumber/devices",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 1620,
        "wires": [
            [
                "d0a68ea2d0edccf2"
            ]
        ]
    },
    {
        "id": "a23b1173710761e9",
        "type": "http response",
        "z": "f32545335c110520",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1610,
        "y": 1620,
        "wires": []
    },
    {
        "id": "d0a68ea2d0edccf2",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 20",
        "func": "let phoneNumber = msg.req.params.phoneNumber;\nmsg.payload = {phoneNumber};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "53e9c197a3ce40ed"
            ]
        ]
    },
    {
        "id": "53e9c197a3ce40ed",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "GET SINGLE USER",
        "collection": "users",
        "operation": "findOne",
        "x": 660,
        "y": 1620,
        "wires": [
            [
                "5d6b1d031470d871"
            ]
        ]
    },
    {
        "id": "5d6b1d031470d871",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 21",
        "func": "let deviceList= msg.payload.deviceList\nmsg.payload = { productId: {$in : deviceList}  };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1620,
        "wires": [
            [
                "ec6bebc3e940fd25"
            ]
        ]
    },
    {
        "id": "a02c6605b48a9f1a",
        "type": "debug",
        "z": "f32545335c110520",
        "name": "debug 25",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 1680,
        "wires": []
    },
    {
        "id": "ec6bebc3e940fd25",
        "type": "mongodb3 in",
        "z": "f32545335c110520",
        "service": "_ext_",
        "configNode": "65180d6e6ac23d47",
        "name": "GET  DEVICELIST DETAIL",
        "collection": "sensor-metadata",
        "operation": "find.toArray",
        "x": 1180,
        "y": 1620,
        "wires": [
            [
                "a23b1173710761e9"
            ]
        ]
    },
    {
        "id": "b63ec44e9e8188b3",
        "type": "function",
        "z": "f32545335c110520",
        "name": "function 22",
        "func": "// let list = []\n// for (let key of msg.payload) {\n//      list.push(msg.payload[key]);\n// }\n// msg.payload = list;\nmsg.payload = Object.values(msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 1620,
        "wires": [
            [
                "a02c6605b48a9f1a"
            ]
        ]
    }
]